<f:be.infobox title="Требования к импортируемым данным" state="1">
	<p>
		Минимальный набор полей для импортируема данных: "uid, pid".<br />
		Если значение столбца "uid" = "0" - произойдет создание новой записи.<br />
		Если значение столбца "uid" > "0" - произойдет обновление записи с указанным идентификатором (если указанной записи не существует в базе данных строка будет проигнорирована).<br />
		Если значение столбца содержит модификатор "[D]1" - произойдет удаление записи с указанным идентификатором.<br />
	</p>
	<p>
		Импорт связей:<br />
		- Добавить связь "[A]1,[A]2,[A]3" (attach);<br />
		- Удалить связь "[D]1,[D]2,[D]3" (detach);<br />
		- Удалить все связи "[T]" (detach all).
	</p>
	<p>
		Значение столбца "pid" по умолчанию имеет значение "0" - исключение составляют модели с "<code>use \Litovchenko\AirTable\Domain\Model\Traits\Pid;</code>",<br />
		при которой записи таблицы могут размещяться в любой части дерева страниц в т.ч. в корне дерева сайта.<br />
	</p>
</f:be.infobox>