<div class="alert alert-info" role="alert">
	tx_fed_page_controller_action = {pageInfo.tx_fed_page_controller_action};<br />
	<!-- tx_fed_page_controller_action_sub = {pageInfo.tx_fed_page_controller_action_sub};<br /> -->
	backend_layout = {pageInfo.backend_layout};<br />
	<!-- backend_layout_next_level = {pageInfo.backend_layout_next_level};<br /> -->
</div>

<!--
<header style="margin-bottom: 8px; padding-bottom: 10px; border-bottom: 1px solid #E3E3E3;">
    <span style="padding-right: 5px;">$icon</span><span><strong>$title</strong></span>
</header>

<strong style="color: #F60F0F;">' . $storageNotSetLabel . '</strong>

<table>
    <tbody>
        <tr>
            <td style="vertical-align: top; padding-right: 12px; border-right: 1px solid #E3E3E3;">
                <table>
                    <tbody>
                        <tr>
                            <tr>
                                <td style="padding: 3px 3px 10px; width: 130px; font-weight: bold; vertical-align: top;">$modeLabel</td>
                                <td style="padding: 3px 3px 10px; vertical-align: top;">$modeValue</td>
                            </tr>
                            <tr>
                                <td style="padding: 3px 3px 10px; width: 130px; font-weight: bold; vertical-align: top;">$categoryLabel</td>
                                <td style="padding: 3px 3px 10px; vertical-align: top;">
                                    <ul style="list-style: none; padding: 0; margin: 0;">$categoryValue</ul>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 3px 3px 10px; width: 130px; font-weight: bold; vertical-align: top;">$storageLabel</td>
                                <td style="padding: 3px 3px 10px; vertical-align: top;">
                                    <ul style="list-style: none; padding: 0; margin: 0;">$storageValue</ul>
                                </td>
                            </tr>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="vertical-align: top; padding-left: 12px;">
                <table>
                    <tbody>
                        <tr>
                            <td style="padding: 3px 3px 10px; width: 150px; font-weight: bold; vertical-align: top;">$limitLabel</td>
                            <td style="padding: 3px 3px 10px; vertical-align: top;">
                                <ul style="list-style: none; padding: 0; margin: 0;">$limitValue</ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 3px 3px 10px; width: 150px; font-weight: bold; vertical-align: top;">$orderLabel</td>
                            <td style="padding: 3px 3px 10px; vertical-align: top;">
                                <ul style="list-style: none; padding: 0; margin: 0;">$orderValue</ul>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 3px 3px 0; width: 150px; font-weight: bold; vertical-align: top;">$sortDirectionLabel</td>
                            <td style="padding: 3px 3px 0; vertical-align: top;">
                                <ul style="list-style: none; padding: 0; margin: 0;">$sortDirectionValue</ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<footer style="margin-top: 8px; padding-top: 10px; border-top: 1px solid #E3E3E3;">
    <span style="display: inline-block; padding: 3px 3px 0; width: 133px;"><strong>$elementsTotalLabel</strong></span><span>$elementsTotalValue</span>
</footer>
-->