<script src="/typo3conf/ext/air_table/Resources/Public/Js/List.js"></script>
<link href="/typo3conf/ext/air_table/Resources/Public/Css/List.css" />

		<h1>Экспорт / Параметры экспорта</h1>
		<f:render partial="Modules/InfoExport" />
		   <f:form enctype="multipart/form-data" action="step2Process" addQueryString="1">
			<div class="result">

				<div role="tabpanel">
				  <ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-tab" data-store-last-tab="1">
					<li role="presentation" class="t3js-tabmenu-item disabled">
					  <a href="#tab-1" title="" aria-controls="tab-1" role="tab" data-toggle="tab" class="nav-link" data-bs-toggle="tab">Шаг 1. Выбор таблицы</a>
					</li>
					<li role="presentation" class="t3js-tabmenu-item active">
					  <a href="#tab-2" title="" aria-controls="tab-2" role="tab" data-toggle="tab" class="nav-link" data-bs-toggle="tab">Шаг 2. Параметры экспорта</a>
					</li>
					<li role="presentation" class="t3js-tabmenu-item disabled">
					  <a href="#tab-3" title="" aria-controls="tab-3" role="tab" data-toggle="tab" class="nav-link" data-bs-toggle="tab">Шаг 3. Результаты экспорта</a>
					</li>
				  </ul>
				  <div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="tab-2">
					  <div class="panel panel-tab">
						<div class="panel-body">
						
						
							
							  <table class="table table-striped table-hover">
								<thead>
								  <tr>
									<th colspan="2" style="text-align: center;">Основные параметры экспорта данных</th>
								  </tr>
								</thead>
								<tbody>
								<tr>
									<td width='50%' align='left'>Модель</td>
									<td align='right'>
										<input type='text' class="form-control btn-sm" style='width:100%;' value='{model}' disabled>
										<input type='hidden' class="form-control btn-sm" name='model' value='{model}'>
									</td>
								 </tr>
								<tr>
									<td width='50%' align='left'>Таблица для экспорта данных</td>
									<td align='right'>
										<input type='text' class="form-control btn-sm" style='width:100%;' value='{table}' disabled>
										<input type='hidden' class="form-control btn-sm" name='table' value='{table}'>
									</td>
								 </tr>
								<tr>
									<td width='50%' align='left'>Кол-во записей в таблице (в т.ч. в корзине)</td>
									<td align='right'>
										<input type='text' class="form-control btn-sm" style='width:100%;' value='{tableCount}' disabled>
									</td>
								 </tr>
								<tr>
									<td width='50%' align='left'>Формат выгрузки</td>
									<td align='right'>
										<select class="form-control btn-sm" name="format">
											<option value=".xlsx">.xlsx</option>
											<option value=".csv">.csv</option>
										</select>
									</td>
								 </tr>
								<tr>
									<td width='50%' align='left'>Ограничения для экспорта записей. <br />По умолчанию производится выгрузка всех записей таблицы</td>
									<td align='right'>
										<label class="btn btn-default btn-sm" style="margin: 0; margin-bottom: 10px; padding: 0 7px 0 7px; width: 100%; text-align: left; cursor: pointer;">
											<input type="checkbox" name="params[]" value="filter" class="btn btn-default btn-sm" style="margin-top: 0px;">
											Применить текущий фильтр, определенный в списке
										</label>
										<label class="btn btn-default btn-sm" style="margin: 0; margin-bottom: 10px; padding: 0 7px 0 7px; width: 100%; text-align: left; cursor: pointer;">
											<input type="checkbox" name="params[]" value="order" class="btn btn-default btn-sm" style="margin-top: 0px;">
											Применить текущую сортировку, определенную в списке
										</label>
										<label class="btn btn-default btn-sm" style="margin: 0; margin-bottom: 10px; padding: 0 7px 0 7px; width: 100%; text-align: left; cursor: pointer;">
											<input type="checkbox" name="params[]" value="limit" class="btn btn-default btn-sm" style="margin-top: 0px;">
											Применить постраничную навигацию, определенную в списке
										</label>
										<label class="btn btn-default btn-sm" style="margin: 0; margin-bottom: 0px; padding: 0 7px 0 7px; width: 100%; text-align: left; cursor: pointer;">
											<input type="checkbox" value="recycler" class="btn btn-default btn-sm" style="margin-top: 0px;" disabled <f:if condition="{recycler}"> checked </f:if>>
											Выгружать удаленные записи (корзина записей)
										</label>
										<!--
										<select class="form-control btn-sm">
											<option value="0">Выгрузить все записи таблицы</option>
										</select>
										-->
									</td>
								 </tr>
								 <!--
								 <tr>
									<td width='50%' align='left'>Комментарий к экспорту</td>
									<td align='left'>
										<f:form.textarea property="firstName" rows="5" cols="50" disabled="1" />
										</td>
								</tr>
								-->
								 </tbody>
								 </table>
								<table class="table table-striped table-hover">
								<thead>
								  <tr>
									<th colspan="3" style="text-align: center;">
										Список доступных колонок для экспорта
									</th>
								  </tr>
								<tr>
									<th width='40%' style="text-align: right;">Название колонки</th>
									<th width='20%'>
									<label class="btn btn-default btn-sm" style="margin: 0; margin-bottom: 0px; padding: 0 7px 0 7px; width: 100%; text-align: left; cursor: pointer;">
										<input type="checkbox" onClick="toggleCheckboxes(this,'columns[]');" class="btn btn-default btn-sm" style="margin-top: 0px;">
										Отметить все / снять отметку со всех
									</label>
									</th>
									<th width='40%'>Поле в БД системы</th>
								 </tr>
						<tr>
							<td colspan="3">
								<div class="form-control-clearable">
									<input id="filteTagExport" type="text" class="form-control t3js-upgradeDocs-fulltext-search t3js-clearable" placeholder="Введите название колонки">
									<script> 
										var inputFilter = document.querySelector('#filteTagExport');
										inputFilter.addEventListener('keyup', function (e) {
											// console.log('Value:', input.value);
											tagFilterSelection('filteTagExport',inputFilter.value);
										});
									</script>
								</div>
							</td>
						</tr>
								</thead>
								{content -> f:format.raw()}
								</table>
							</div>
						
						</div>
					  </div>
					</div>
				  </div>
				</div>
				
		<f:link.action action="index" class="btn btn-default btn-sm">
		Отмена
	</f:link.action>
	
									<f:form.submit value="Экспортировать данные" class="btn btn-success btn-sm" style="float: right;" />
								 </f:form>

	<br />
	<br />
	<br />