.phptemplate_tagAdminPanelTools .phptemplate_tagEditIcon_wrap_inline {
	margin-top: 0;
	margin-bottom: 0;
}
.phptemplate_tagAdminPanelTools {
	display: block !important; 
	position: relative;
	overflow: hidden;
	
	width: 100% !important;
	padding-bottom: 300px !important;
	background: #383838;
}
.tagAdminPanelTools_webProjectLabel_wrap {
	display: block !important;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
	margin-top: 25px;
}
.tagAdminPanelTools_webProjectLabel {
	padding-left: 15px !important; 
	padding-right: 15px !important;
	padding-top: 5px;
	padding-bottom: 5px;
	
	background-color: #ffd800 !important;
	font-family: Verdana !important; 
	line-height: 32px !important;
	font-size: 18px !important;
	color: #2f2f2f !important;
}
.tagAdminPanelTools_tabItem_wrap {
	display: block;
	min-height: 32px;
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
}
.tagAdminPanelTools_tabItemLabel {
	display: inline-block;
	padding: 3px 15px 3px 3px; 
	background-color: gray;
	line-height: 27px;
	color: white;
}
.tagAdminPanelTools_tabItemContent {
	/* display: block; */
	display: none;
	overflow-x: auto;
	padding: 15px 15px 15px 15px; 
	border-left: gray 3px solid !important;
	background: url(AdminPanelTools_bg.png) white repeat-x !important;
	font-family: Verdana !important; 
	white-space: pre !important;
}
.tagAdminPanelTools_wrapNewIcon {
	display: block;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 26px;
}