	<h1>Резервное копирование // Todo</h1>
	<table class="table table-bordered table-hover" style="width: 100%; background: white;">
	<tr>
		<th nowrap="" >№</th>
		<th nowrap="" >Дата создания рез. копии</th>
		<th nowrap="" >Кол-во таблиц</th>
		<th nowrap="" >Md5-таблиц</th>
		<th nowrap="" >Кол-во файлов</th>
		<th nowrap="" >Md5-файлов</th>
		<th nowrap="" >Архив</th>
	</tr>
	<tr>
		<td>1</td>
		<td>20.12.2020 12:43:01</td>
		<td>34</td>
		<td>1db1248b993a1476f310c3108117ecfe</td>
		<td>277</td>
		<td>0da96206511c3297fc9dfe3ee6602bbd</td>
		<td><f:link.action action="index" class="btn btn-default btn-sm disabled"><i class="fa fa-download" aria-hidden="true"></i> 0.5 Mb</f:link.action></td>
	</tr>
	</table>
	
	<f:link.action action="do" class="btn btn-default">
		Создать резервную копию
	</f:link.action>